version: '3.8'

services:
  web:
    build: .
    container_name: insurance_predictor_app
    ports:
      - "10000:10000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
    command: flask run --host=0.0.0.0 --port=10000
    healthcheck:
      test: curl --fail http://localhost:10000 || exit 1
      interval: 10s
      retries: 5

